.title {
  width: 200px;
  transform: translate(0.5rem, -1rem);
  animation: showLettersMapsMarker 1s linear forwards;
  color: #ffffff;
  font-size: calc(var(--textSize) * 1.5em);
  line-height: 1em;
  font-weight: 600;
  letter-spacing: normal;
  font-family: Helvetica;
}

@keyframes showLettersMapsMarker {
  0% {
    width: 70%;
    opacity: 0;
    //background: rgba(0, 0, 0, 0);
  }
  50% {
    opacity: 0.1;
  }
  100% {
    width: 100%;
    transform: translate(1rem, -1rem);
    opacity: 1;
    // background: rgba(0, 0, 0, 0.359);
  }
}
