.scrollArrow {
  position: relative;
  z-index: 2;
  padding-top: 100%;
  color: var(--backgroundColor0);
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.5;
  }

  span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid var(--scrollArrowColor);
    border-bottom: 1px solid var(--scrollArrowColor);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;

    &:nth-of-type(1) {
      top: 12%;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }

    &:nth-of-type(2) {
      top: 32%;
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s;
    }

    &:nth-of-type(3) {
      top: 52%;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
  }
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
