.marker {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  &:hover {
    z-index: 2;
    .popup {
      display: block;
    }
  }

  .popup {
    background: white;
    position: absolute;
    display: none;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }
}
