.home {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;

  header {
    width: 50%;
    height: 100%;
    z-index: 1;
  }

  h1 {
    display: table;
    color: #193a59;
    box-shadow: 0 2px 25px #193a59;
    background-color: #bdd9f3;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: normal;
    font-family: Helvetica;
    white-space: nowrap;

    //transform: translate(0.5rem, -1rem);
    //animation: showHomeTitleEffect 1s linear forwards;
    animation-delay: calc(var(--loadingAnimation) + 0.3s);
    opacity: 1;
  }

  .subTitle {
    display: table;
    margin-left: 2em;
    position: relative;
    color: #aaa;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    animation: showLettersHome 1s linear forwards;
    opacity: 0;
    white-space: nowrap;

    &::before {
      content: attr(data-texteffect);
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      color: #344759;
      border-right: 2px solid rgb(0, 0, 0);
      overflow: hidden;
      animation: fillLettters 3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      white-space: nowrap;
    }

    &.first {
      margin-top: clamp(0em, 8.5vh - 2rem, 2em);
      animation-delay: calc(var(--loadingAnimation) + 1s);
      &::before {
        animation-delay: calc(var(--loadingAnimation) + 1.1s);
      }
    }
    &.second {
      animation-delay: calc(var(--loadingAnimation) + 4s);
      &::before {
        animation-delay: calc(var(--loadingAnimation) + 4.1s);
      }
    }
    &.third {
      animation-delay: calc(var(--loadingAnimation) + 7s);
      &::before {
        animation-delay: calc(var(--loadingAnimation) + 7.1s);
      }
    }
  }

  figure {
    position: relative;
    height: 100%;
  }

  img {
    box-shadow: 4px 9px 13px 1px #193a59;
    display: block;
    margin-left: auto;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }

  main {
    width: 50%;
    z-index: 2;
  }

  footer {
    z-index: 3;
  }

  @media ((min-width: 270px) and (max-width: 900px) and (orientation: portrait)) or ((orientation: portrait) and (min-height: 500px)) {
    align-content: flex-start;
    header {
      max-height: clamp(67%, 8.5vh, 100%);
    }
    h1 {
      //transform: translate(0rem, clamp(-0.2rem, -2.5vw, 1rem));
      margin: clamp(-25px, 2.5vw, -52px) auto 0 auto;
      padding: clamp(10px, 2.5vw, 20px) clamp(12px, 2.5vw, 25px);
      font-size: clamp(0rem + 1vh, 3.1vh + 0.5rem, 5rem);
    }

    /* height: clamp(100rem, 100vw, 500rem); */
    header {
      width: 100%;
    }

    main {
      width: 100%;
    }

    .subTitle {
      margin: 0 auto;
      font-size: clamp(0.4rem + 1vh, 0.1vh + 0.5rem, 7rem);
    }
  }
}

@media (orientation: landscape) and (min-height: 500px),
  (orientation: landscape) and (max-height: 500px) {
  h1 {
    transform: translate(-42%, -36%);
    margin: 2em 0 0 clamp(1%, 2.5vh, 10%);
    font-size: clamp(1rem, 5.5vh, 5rem);
    padding: clamp(10px, 1.5vh, 25px) clamp(12px, 2.5vh, 25px);
  }

  .subTitle {
    font-size: clamp(0.9rem, 3vh, 3rem);
  }
}

@keyframes showHomeTitleEffect {
  0% {
    width: 70%;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    width: 100%;
    transform: translate(1rem, -1rem);
    opacity: 1;
  }
}

@keyframes fillLettters {
  0% {
    width: 0;
  }
  99% {
    border-right: 2px solid rgb(0, 0, 0);
  }
  100% {
    width: 100%;
    border-right: 0px;
  }
}

@keyframes showLettersHome {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeArrowsInOut {
  0% {
    opacity: 0.2;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
