#root {
  --languagesTableColor: 0, 183, 255;
  --linkColor: rgb(119, 34, 51);
  --titleColor: #00b7ff;
  --textColor: #111;
  --scrollArrowColor: #000000;
  --hireMeButtonColor__home: #000000;
  --hireMeButtonColor__about: #ffffff;
  --backgroundColor0: #ffffff;
  --backgroundColor1: rgba(255, 255, 255, 0.3);
  --backgroundColor2: rgba(238, 238, 238, 0.9);
}
