.centerVcard {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: showLettersVcard 15s ease-in-out forwards;

  .titleTextVcard {
    position: absolute;
    transform: translate(0, -60px);
    color: #737373;
    padding: 0 2rem;

    animation-delay: calc(var(--loadingAnimation) + 1s);
    &::before {
      animation-delay: calc(var(--loadingAnimation) + 1.1s);
    }
  }

  .timerTextVcard {
    position: absolute;
    transform: translate(0, 10px);
    color: #737373;
    animation: timer 1s ease-in-out infinite;
  }

  .textErrorVcard {
    position: absolute;
    color: #737373;
    transform: translate(0, 90px);
    font-size: 2rem;
  }

  .vcardDownloadTextVcard {
    position: absolute;
    transform: translate(0, 130px);
    color: #737373;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@media ((min-width: 270px) and (max-width: 900px) and (orientation: portrait)) or ((orientation: portrait) and (min-height: 500px)) {
  .titleTextVcard {
    //transform: translate(0rem, clamp(-0.2rem, -2.5vw, 1rem));
    padding: clamp(10px, 2.5vh, 20px) clamp(12px, 2.5vh, 25px);
    font-size: clamp(1rem, 6.5vw, 3rem);
  }

  .timerTextVcard {
    font-size: clamp(0.5rem, 2.75vw, 2.5rem);
  }
  .vcardDownloadTextVcard {
    font-size: clamp(1rem, 6.5vw, 3rem);
  }
}

@media (orientation: landscape) and (min-height: 500px),
  (orientation: landscape) and (max-height: 500px) {
  .titleTextVcard {
    font-size: clamp(3rem, 5.5vw, 10rem);
    padding: clamp(10px, 4.5vh, 25px) clamp(12px, 2.5vh, 25px);
  }

  .timerTextVcard {
    font-size: clamp(1.5rem, 2.75vw, 5rem);
  }
  .vcardDownloadTextVcard {
    font-size: clamp(3rem, 5.5vw, 10rem);
  }
}

@keyframes showLettersVcard {
  0% {
    color: black;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

@keyframes timer {
  50% {
    color: black;
  }
}
